<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :제목 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :내용 %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :학과코드 %><br>
    <%= f.number_field :group_code %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <a class="waves-effect waves-light btn"><%= f.submit %></a>
  </div>
<% end %>

<style>
   @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
   .field{
      font-family: 'Jeju Gothic', sans-serif;
   }
</style>
