<div class="container">
  <p id="notice"><%= notice %></p>
  <nav>
    <div class="nav-wrapper">
      <a href="/home/index" class="brand-logo center">어따쓰지</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "결산안보기", home_index_path %></li>
       
        <% if user_signed_in? %>
          <li><%= link_to "나의 정보", edit_user_registration_path %></li>
          <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
        <% else %>
          <li><%= link_to "로그인", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
       
    </div>
  </nav>
  
  <h2>건의사항</h2>
  <p>학생회에대한 건의사항을 올려주세요</p>
  
  
  <table>
    <thead>
      <tr>
        <th>제목</th>
        <th>내용</th>
        <th>Group code</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><%= board.title %></td>
          <td><%= board.content %></td>
          <td><%= board.group_code %></td>
          <td><%= board.user %></td>
          <td><%= link_to '게시물보기', board %></td>
          <td><%= link_to '수정하기', edit_board_path(board) %></td>
          <td><%= link_to '삭제하기', board, method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <hr>
  <br>
  <div class="button">
   <button class="btn waves-effect waves-light write" name="action">
     <%= link_to '건의문쓰기', new_board_path %>
   </button>
 </div>
  
</div>

<style>
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
      h2 {
          font-family: 'Jeju Gothic', sans-serif;
      }
      p{
        font-family: 'Jeju Gothic', sans-serif;
      }
      table{
        font-family: 'Jeju Gothic', sans-serif;
      }
      td{
        font-family: 'Jeju Gothic', sans-serif;
      }
      hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #e5e5e5;
          margin: 1em 0;
          padding: 0; 
      }
      .write{
        color:white;
        font-family: 'Jeju Gothic', sans-serif;
        text-align:center;
      }
      .button{
         text-align:right;
         color:white;
      }
      .nav-wrapper{
        font-family: 'Jeju Gothic', sans-serif;
      }
     li{
       font-family: 'Jeju Gothic', sans-serif;
     }
</style>