<div class="container">
    <p id="notice"><%= notice %></p>
    
   <div class="container box">
    <h4>
        <%= @board.title %>
    </h4>
    <hr>
    <p class="text-align:right">
      <strong><%= @board.user %></strong>
      
    </p>
    <p>
      <strong>Content:</strong>
      <%= @board.content %>
    </p>
    
    <p>
      <strong>Group code:</strong>
      <%= @board.group_code %>
    </p>
    
    
    
    <%= link_to '수정하기', edit_board_path(@board) %> |
    <%= link_to 'Back', boards_path %>
  </div>
</div>

<style>
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
  .box{
        border-radius: 5px;
        border: 1px solid rgba(150,150,150,0.22);
        padding-right: 3rem !important;
        padding-left: 3rem !important;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
  }
  h4{
    font-family:"Jeju Gothic";
  }
  
</style>