<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, "입금/출금" %><br>
    <%= f.select :category, ['출금','입금'], :selected => f.object.category, :class => "browser-default" %>
  </div>
  <div class="field">
    <%= f.label :pay_date, "결제날짜" %><br>
    <%= f.text_field :pay_date, :class => "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :amount, "금액" %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :content, "결제내용" %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :detail_content, "세부내용" %><br>
    <%= f.text_area :detail_content, :class => "materialize-textarea" %>
  </div>
  <div class="field">
    <%= f.label :extra, "비고" %><br>
    <%= f.text_area :extra, :class => "materialize-textarea" %>
  </div>
  <div class="field">
    <%= f.label :bill, "영수증유무" %><br>
    <%= f.select :bill, ['있음','없음'], :selected => f.object.bill, :class => "browser-default" %>
  </div>
  <div class="field">
    <%= f.label :cash, "카드/현금" %><br>
    <%= f.select :cash, ['카드','현금'], :selected => f.object.cash, :class => "browser-default" %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :card_id, :value => Card.find_by(user_id: current_user.id) %>
  </div>
  <div class="actions">
    <a class="waves-effect waves-light btn"><%= f.submit "결제내역 저장" %></a>
  </div>
<% end %>


<style>
  .waves-effect{
    width:100%;
  }
</style>