<div class="container">
 
<p id="notice"><%= notice %></p>

<h1>결산안 보기</h1>
<div id="dvData">
<table>
  <thead>
    <tr>
      <th>category</th>
      <th>Pay date</th>
      <th>Amount</th>
      <th>Content</th>
      <th>Detail content</th>
      <th>Extra</th>
      <th>Bill</th>
      <th>User</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.category %></td>
        <td><%= receipt.pay_date %></td>
        <td><%= receipt.amount %></td>
        <td><%= receipt.content %></td>
        <td><%= receipt.detail_content %></td>
        <td><%= receipt.extra %></td>
        <td><%= receipt.bill %></td>
        <td><%= receipt.cash %></td>
        <!--<td><%= receipt.user %></td>-->
        <!--<td><%= receipt.card %></td>-->
        <!--<td><%= link_to 'Show', receipt %></td>-->
        <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
        <!--<td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<a id ="btnExport">엑셀 다운로드</a><br>

<%= link_to 'New Receipt', new_receipt_path %>
</div>
<style>
   @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    h1 {
      font-family: 'Jeju Gothic', sans-serif;
      text-align: center;
          }
    table{
            font-family: 'Jeju Gothic', sans-serif;
          }
</style>
<script>
$(document).ready(function() {
    $("#btnExport").click(function(e) {
        //getting values of current time for generating the file name
        var dt = new Date();
        var day = dt.getDate();
        var month = dt.getMonth() + 1;
        var year = dt.getFullYear();
        var hour = dt.getHours();
        var mins = dt.getMinutes();
        var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
        //creating a temporary HTML link element (they support setting file names)
        var a = document.createElement('a');
        //getting data from our div that contains the HTML table
        var data_type = 'data:application/vnd.ms-excel';
        var table_div = document.getElementById('dvData');
        var table_html = table_div.outerHTML.replace(/ /g, '%20');
        a.href = data_type + ', ' + table_html;
        //setting the file name
        a.download = 'exported_table_' + postfix + '.xls';
        //triggering the function
        a.click();
        //just in case, prevent default behaviour
        e.preventDefault();
    });
});
</script>
